<div class="container">
  <form [formGroup]="personForm">
    <fieldset>
      <legend>Formulaire Person</legend>
      <div class="form-group">
        <label class="control-label">Genre </label>
        <label for="male" class="radio-inline">
          <input type="radio" id="male"  value="1" formControlName="gender">Masculin</label>
        <label for="female" class="radio-inline">
          <input type="radio" id="female" value="0" formControlName="gender">Fémimin</label>
      </div>
      <div class="form-group">
        <label for="lastName">Nom</label>
        <input type="text" class="form-control" id="lastName" formControlName="lastName">
        <div *ngIf="formErrors.lastName" class="alert alert-danger">
          {{ formErrors.lastName }}
        </div>
      </div>
      <div class="form-group">
        <label for="firstName">Prénom</label>
        <input type="text" class="form-control" id="firstName" formControlName="firstName">
        <div *ngIf="formErrors.firstName" class="alert alert-danger">
          {{ formErrors.firstName }}
        </div>
      </div>
      <div class="form-group">
        <label for="favoriteColor">Couleur favorite</label>
        <select class="form-control" id="favoriteColor" formControlName="favoriteColor">
          <option *ngFor="let color of colors" [value]="color">{{color}}</option>
        </select>
        <div *ngIf="formErrors.favoriteColor" class="alert alert-danger">
          {{ formErrors.favoriteColor }}
        </div>
      </div>
      <div class="form-group">
        <label for="birthday">birthday</label>
        <input type="date" class="form-control" id="birthday" formControlName="birthday">
      </div>
      <div class="form-group">
        <label for="phoneNumber">Numéro de mobile</label>
        <input type="text" class="form-control" id="phoneNumber" formControlName="phoneNumber">
        <div *ngIf="formErrors.phoneNumber" class="alert alert-danger">
          {{ formErrors.phoneNumber }}
        </div>
      </div>
      <button type="submit" class="btn btn-success" [disabled]="!personForm.valid">Soumettre</button>
      <button type="reset" class="btn btn-default">Effacer</button>
    </fieldset>
  </form>
</div>
